:root {
  --color-text-tittle: #212121;
  --color-text-section: #757575;
  --color-main-bgd: #2f303a;
  --accent-color: #2196f3;
  --base-color: #ffffff;
}

body {
  font-family: "Roboto", "Tahoma", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--base-color);
  color: var(--color-text-section);
}

/* ----------------------HEADER------------------------------ */
.logo {
  font-family: "Raleway", "Oleo Script", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-accent {
  color: #000000;
}

.section-tittle {
  color: var(--color-text-tittle);
}

.link-nav {
  color: var(--color-text-tittle);
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.adress-nav .link-nav {
  color: var(--color-text-section);
}

.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
  color: var(--accent-color);
}

.site-nav .link-nav.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/* ------------------------HERO---------------- */

.hero {
  background-color: var(--color-main-bgd);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--base-color);
  text-align: center;
}

.button {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--base-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* ----------------------ABOUT------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-text-tittle);
}

.about-description {
  font-size: 14px;
  line-height: 1.71;
}

/* ------------------WORK-------------------- */

.work-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--color-text-tittle);
  text-align: center;
}

/* ----------------------TEAM-------------------- */

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--color-text-tittle);
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-text-tittle);
  text-align: center;
}

.team-work {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* -----------------FOOTER------------------------ */

.footer {
  background-color: #2f303a;
}
.logo-accent-footer {
  color: var(--base-color);
}
.footer-link,
.footer-adress {
  font-style: normal;
  text-decoration: none;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-adress {
  color: var(--base-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* ---------------------PORTFOLIO---------------------- */

.button-filter {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--color-text-tittle);
  background-color: #f5f4fa;
  cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--base-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-tittle);
}

.portfolio-name {
  font-size: 16px;
  line-height: 1.88;
}
